/* styles.css */

/* Sidebar styles */
.sidebar {
    width: 18%;
    min-height: 71vh;
    border: 1.5px solid #A9A9A9;
    border-top: 0;
    float: left; /* Float the sidebar to the left */
    margin-bottom: 50px; /* Add margin-bottom to create space at the bottom */
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #A9A9A9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}

.sidebar {
    font-size: max(1vw, 10px);
}

.sidebar-option img {
    width: 20px;
}

.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}

@media (max-width: 900px) {
    .sidebar-option p {
        display: none;
    }
}

/* Add styles */
.add {
    width: 70%;
    margin-left: 20%; /* Adjust margin-left to create space between sidebar and add section */
    margin-top: 0px;
    margin-bottom: 269px; /* Add margin-bottom to create space at the bottom */
    color: #6D6D6D;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between form elements */
    width: 100%;
}

.add-img-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; /* Adjust the gap between image upload and other elements */
    align-items: center;
}

.add-img-upload img {
    width: 120px;
}

.add-product-name,
.add-product-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust the gap between input fields */
}

.add-product-name input,
.add-product-description textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.add-category-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.add-category-price select,
.add-category-price input {
    max-width: 120px;
    padding: 10px;
}

.event-category{
    padding-bottom: 10px;
    text-align: center;

}
.add-category-flex-col{
    align-items: center;
}

.add-btn {
    width: 120px;
    border: none;
    padding: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 35px; /* Adjust the top margin of the button */
    border-radius: 15px;
}
