.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    height: 400px;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
  }
  
  .signup-container .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .signup-container .input-group label {
    margin-bottom: 5px;
  }
  
  .signup-container .input-group input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .signup-container button {
    padding: 10px;
    border: none;
    background-color: #FF4C24;;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
  }

  .nav-link{
    margin-left: 5px;
    color: steelblue;
  }