.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.navbar .logo{
    width: 70px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    color: #49557e;
    font-size: 23px;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-right .search{
    width: 40px;
}

.navbar-right .event{
    width: 45px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid rgb(136, 45, 125);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.navbar button:hover{
    background-color: rgb(183, 121, 241);  
    color: aliceblue; 
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 3px solid #49557e;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}