.header{
    height: 34vw;
    margin: 10px auto;
    margin-left: 200px;
    background: url('../../assets/Family_2.jpg') no-repeat;
    background-size: contain;
    position: relative;
    align-self: center;
    width: 100%;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight:500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    color: #49557e;
    border: 1px solid rgb(136, 45, 125);
    cursor: pointer;
    transition: 0.1s;
}

.header-contents button:hover{
    background-color: rgb(183, 121, 241);  
    color: aliceblue;
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}